{% if perms.netbox_ipmi_ovh.view_ipmi and has_ipmi %}
<div class="btn-group">
  <button id="ipmi-ovh" class="btn btn-info dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <span class="mdi mdi-monitor" aria-hidden="true"></span> IPMI OVH <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <li><a class="dropdown-item" target="_blank" href="{% url 'plugins:netbox_ipmi_ovh:ipmi' %}?device={{ object.id }}&type=kvmipJnlp">KVM ip JNLP</a></li>
    <li><a class="dropdown-item" target="_blank" href="{% url 'plugins:netbox_ipmi_ovh:ipmi' %}?device={{ object.id }}&type=kvmipHtml5URL">KVM ip HTML5</a></li>
    <li><a class="dropdown-item" target="_blank" href="{% url 'plugins:netbox_ipmi_ovh:ipmi' %}?device={{ object.id }}&type=serialOverLanURL">SoL HTML5</a></li>
    <li><a class="dropdown-item" target="_blank" href="{% url 'plugins:netbox_ipmi_ovh:ipmi' %}?device={{ object.id }}&type=serialOverLanSshKey">SoL SSH</a></li>
  </ul>
</div>

{% endif %}
