{% extends 'base.html' %}
{% load form_helpers %}

{% block title %}IPMI OVH{% endblock %}

{% block content %}
<div class="col-sm-12 col-md-10 col-md-offset-1">
  <form action="." method="post" class="form form-horizontal col-md-10 col-md-offset-1">
    {% csrf_token %}
    {% if form.non_field_errors %}
    <div class="panel panel-danger">
      <div class="panel-heading"><strong>Errors</strong></div>
      <div class="panel-body">
	{{ form.non_field_errors }}
      </div>
    </div>
    {% endif %}
    <div class="panel panel-default">
      <div class="panel-heading"><strong>IPMI user settings</strong></div>
      <div class="panel-body">
	{% render_field form.ssh_key_name %}
	{% render_field form.ip_to_allow %}
      </div>
    </div>
    <div class="text-right">
      <button type="submit" name="_update" class="btn btn-primary">Update</button>
      <a href="{% url 'plugins:netbox_ipmi_ovh:ipmi_config' %}" class="btn btn-default">Cancel</a>
    </div>
  </form>
</div>
{% endblock %}
